# oberon host tools
bin/
# project oberon book pdfs
book/
# project oberon 2013 edition source code
po2013/
# project extended oberon source code
eo/
# local build folder
build/
# session logs (emulator + pucxy)
log/
